openai~=1.79.0
python-dotenv~=1.1.0
numpy
pandas~=2.2.3
pymysql~=1.1.1
requests~=2.32.3
beautifulsoup4
python-dateutil
tiktoken
lxml
matplotlib~=3.9.4
seaborn~=0.13.2
ipython~=8.18.1
jsonpath~=0.82.2
flask~=3.1.1
gevent~=25.5.1
flask-cors~=6.0.0